<mat-list class="subscription-list">

  @if (this.subscriptions) {
    @for (subscription of this.subscriptions; track subscription) {
      <mat-list-item class="item"
        [class.item--selected]="currentSubscription?.name === subscription.name"
        (click)="selectSubscription(subscription)">
        <span matListItemTitle>{{ shortName(subscription.name) }}</span>
        @if (ls.getSubNote(subscription.name)) {
          <mat-icon matListItemMeta class="note-indicator" matTooltip="Has local note">sticky_note_2</mat-icon>
        }
        <button matListItemMeta mat-icon-button color="warn"
          (click)="$event.stopPropagation(); deleteSubscriptionRequest.emit(subscription)"
          matTooltip="Delete subscription">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-list-item>
    }
  }

  <mat-list-item class="item" (click)="newSubscription()">
    <span matListItemTitle>Create New Subscription</span>
    <mat-icon matListItemMeta>add</mat-icon>
  </mat-list-item>

</mat-list>
