<div class="list-header">
  <span class="list-title">Topics</span>
  <button mat-icon-button (click)="refreshRequest.emit()" matTooltip="Refresh topics">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-list class="topic-list">
  @for (topic of this.topics; track topic) {
    <mat-list-item class="topic-item"
      [class.topic-item--selected]="currentTopic?.name === topic.name"
      (click)="selectTopic(topic)">
      <span matListItemTitle>{{ shortName(topic.name) }}</span>
      @if (ls.getTopicNote(topic.name)) {
        <mat-icon matListItemMeta class="note-indicator" matTooltip="Has local note">sticky_note_2</mat-icon>
      }
      <button matListItemMeta mat-icon-button color="warn"
        (click)="$event.stopPropagation(); deleteTopicRequest.emit(topic)"
        matTooltip="Delete topic">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-list-item>
  }

  <mat-list-item class="topic-item" (click)="createNewTopic()">
    <span matListItemTitle>Create New Topic</span>
    <mat-icon matListItemMeta>add</mat-icon>
  </mat-list-item>
</mat-list>
