<div class="container">
  <h1>Project: {{this.currentProject}}</h1>

  <div class="view-toggle-row">
    <mat-button-toggle-group [(ngModel)]="viewMode" hideSingleSelectionIndicator>
      <mat-button-toggle value="list">
        <span>List</span>
      </mat-button-toggle>
      <mat-button-toggle value="graph">
        <span>Graph</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  @if (viewMode === 'list') {
    <div class="header-container">

      @if (this.topicList$ | async; as topicList) {
        <div class="topics">
          @if (isLoadingTopics) { <mat-progress-bar mode="indeterminate"></mat-progress-bar> }
          <app-topic-list
            [topics]="topicList"
            [(currentTopic)]="this.currentTopic"
            (currentTopicChange)="loadSubsFor($event)"
            (newTopicRequest)="this.handleNewTopicRequest($event)"
            (deleteTopicRequest)="this.handleDeleteTopic($event)"
            (refreshRequest)="this.refreshTopics()">
          </app-topic-list>
        </div>
      }

      @if (this.subscriptionList$ | async; as possibleSubs) {
        <div class="subscriptions">
          <h2>Subscriptions</h2>
          @if (isLoadingSubs) { <mat-progress-bar mode="indeterminate"></mat-progress-bar> }
          <app-subscription-list
            [topic]="this.currentTopic"
            [subscriptions]="possibleSubs"
            [(currentSubscription)]="this.currentSubscription"
            (newSubscriptionRequest)="this.handleNewSubscription($event)"
            (deleteSubscriptionRequest)="this.handleDeleteSubscription($event)">
          </app-subscription-list>
        </div>
      }

    </div>

    <div class="main-container" [ngClass]="{
        'main-container--no-topic': this.currentTopic == undefined,
        'main-container--no-subscription': this.currentTopic != undefined && this.currentSubscription == undefined
    }">
      @if (this.currentTopic && this.currentSubscription) {
        <div>
          <app-subscription-details [subscriptionPath]="this.currentSubscription.name"></app-subscription-details>
        </div>
      }

      @if (this.currentTopic && !this.currentSubscription) {
        <div>
          <app-topic-details [topic]="this.currentTopic"></app-topic-details>
        </div>
      }
    </div>
  }

  @if (viewMode === 'graph') {
    <app-flow-graph
      [project]="currentProject"
      (topicSelect)="onGraphTopicSelect($event)"
      (subscriptionSelect)="onGraphSubSelect($event)">
    </app-flow-graph>
  }

</div>
